/*
	Dies ist die css-Datei, in der das Layout des Graphen beschrieben ist.
*/

/*
	Style-Angabe fuer einen Knoten
*/
node {
	size: 30px;
	
	
	text-color: black;
	text-alignment: under;
	text-size: 12;
	/* text-background-mode: plain; */

	stroke-mode: plain;
	stroke-color: white;
	stroke-width: 0px;
}

/*
   zusaetzliches Attribut "highlight" fuer einen Knoten, der
   hervorgehoben werden soll
*/
node.highlight {
	text-style: bold;
	
	stroke-color: #cc0000;
	stroke-width: 3px;
}

node.place {
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 2px;
}
node.transition {
	shape: box;
	fill-color: white;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}

node.marking {
	shape: box;
	size: 100px, 30px;
	text-alignment: center;
	fill-color: white;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.markingroot {
	shape: box;
	size: 100px, 30px;
	text-alignment: center;
	/* fill-color: white; */
	stroke-mode: plain;
	/* stroke-color: red; */
	fill-color: red;
	stroke-color: black;
	stroke-width: 1px;
} 
node.rootinabort {
	shape: box;
	size: 100px, 30px;
	text-alignment: center;
	stroke-mode: plain;
	stroke-color: orange;
	fill-color: red;
	stroke-width: 1px;
}
node.abort {
	shape: box;
	size: 100px, 30px;
	text-alignment: center;
	fill-color: white;
	stroke-mode: plain;
	stroke-color: orange;
	stroke-width: 1px;
}
node.newlyadded {
	shape: box;
	size: 100px, 30px;
	text-alignment: center;
	fill-color: white;
	stroke-mode: plain;
	stroke-color: green;
	stroke-width: 1px;
}


node.marked {
	stroke-mode: plain;
	stroke-width: 1px;
	stroke-color: red;
	fill-color: white;
}

node.markedhas0Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/none.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas1Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/1.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas2Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/2.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas3Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/3.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas4Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/4.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas5Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/5.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas6Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/6.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas7Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/7.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas8Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/8.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhas9Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/9.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}
node.markedhasMoreTokens {
	fill-mode: image-scaled;
	fill-image: url('images/more.png');
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 2px;
}

node.root {
	fill-color: red;
}

node.has0Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/none.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has1Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/1.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has2Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/2.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has3Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/3.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has4Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/4.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has5Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/5.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has6Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/6.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has7Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/7.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has8Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/8.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.has9Tokens {
	fill-mode: image-scaled;
	fill-image: url('images/9.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}
node.hasMoreTokens {
	fill-mode: image-scaled;
	fill-image: url('images/more.png');
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}


/*
   zusaetzliches Attribut "bild" fuer einen Knoten mit einer Abbildung
*/
/*node.bild {
	fill-mode: image-scaled;
	fill-image: url('images/logo_grau.png');
}*/

/*
	Style-Angabe fuer eine Kante
*/
edge {
	fill-color: black;
	arrow-shape: arrow;
	arrow-size: 9px, 6px;
	text-size:  12;
	text-color: black;
	text-background-mode: plain;
	text-background-color: white;
}

edge.abort {
	fill-color: orange;
	arrow-shape: arrow;
	arrow-size: 9px, 6px;
	text-size:  12;
	text-color: black;
	text-background-mode: plain;
	text-background-color: white;
}

edge.newlyadded {
	fill-color: green;
	arrow-shape: arrow;
	arrow-size: 9px, 6px;
	text-size:  12;
	text-color: black;
	text-background-mode: plain;
	text-background-color: white;

}
